.right {
  padding: 20px;
  .filter_box {
    margin-bottom: 30px;
    .sort {
      background: red;
      display: inline-block;
      margin-right: 20px;
      &:hover {
        .title_sort {
          background: black;
          color: #fff;
        }
        .dropdown_sort {
          transform: scaleY(1);
        }
      }
      .title_sort {
        background: rgb(235, 233, 233);
        display: inline-block;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s;
      }
      .dropdown_sort {
        background: #fff;
        box-shadow: 0px 8px 15px rgba(#292929, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.3s linear;
        position: absolute;
        z-index: 9999;
        padding: 0px 10px;

        .style_filter {
          margin: 15px 10px;
          .checkbox {
            // width: 120px;
            input {
              // margin-right: 5px;
              display: none;
            }
            input:checked ~ label:after {
              opacity: 1;
            }
            input:checked ~ label:before {
              background: #ba933e;
            }
            label {
              position: relative;
              padding-left: 30px;
              display: flex;
              align-items: center;
              cursor: pointer;
              font-size: 15px;
              margin-top: 5px;
              @media (max-width: 1436px) {
                // paddi  ng-left: 10px;
              }
              &::before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                border: 1.6px solid rgb(109, 109, 109);
                border-radius: 50%;
                left: 0;
                // margin-top: 10px;
              }
              &::after {
                content: "\f00c";
                width: 20px;
                height: 20px;
                position: absolute;
                // background: red;
                border-radius: 4px;
                top: 2px;
                left: 3px;
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                opacity: 0;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .filter {
      background: red;
      display: inline-block;
      &:hover {
        .title_filter {
          background: black;
          color: #fff;
        }
        .dropdown_filter {
          transform: scaleY(1);
        }
      }
      .title_filter {
        background: rgb(235, 233, 233);
        display: inline-block;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s;
      }
      .dropdown_filter {
        background: #fff;
        box-shadow: 0px 8px 15px rgba(#292929, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.3s linear;
        position: absolute;
        z-index: 9999;
        .style_filter {
          margin: 15px 10px;
          border-right: 1px solid black;
          display: inline-block;
          padding: 0px 10px;
          .checkbox {
            // width: 120px;
            input {
              // margin-right: 5px;
              display: none;
            }
            input:checked ~ label:after {
              opacity: 1;
            }
            input:checked ~ label:before {
              background: #ba933e;
            }
            label {
              position: relative;
              padding-left: 30px;
              display: flex;
              align-items: center;
              cursor: pointer;
              font-size: 15px;
              margin-top: 5px;
              @media (max-width: 1436px) {
                // paddi  ng-left: 10px;
              }
              &::before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                border: 1.6px solid rgb(109, 109, 109);
                border-radius: 4px;
                left: 0;
                // margin-top: 10px;
              }
              &::after {
                content: "\f00c";
                width: 20px;
                height: 20px;
                position: absolute;
                // background: red;
                border-radius: 4px;
                top: 2px;
                left: 3px;
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                opacity: 0;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
        .collar_filter {
          margin: 15px 10px;
          display: inline-block;
          padding: 0px 10px;
          .checkbox {
            width: 120px;
            input {
              // margin-right: 5px;
              display: none;
            }
            input:checked ~ label:after {
              opacity: 1;
            }
            input:checked ~ label:before {
              background: #ba933e;
            }
            label {
              position: relative;
              padding-left: 30px;
              display: flex;
              align-items: center;
              cursor: pointer;
              font-size: 15px;
              margin-top: 5px;
              @media (max-width: 1436px) {
                // paddi  ng-left: 10px;
              }
              &::before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                border: 1.6px solid rgb(109, 109, 109);
                border-radius: 4px;
                left: 0;
                // margin-top: 10px;
              }
              &::after {
                content: "\f00c";
                width: 20px;
                height: 20px;
                position: absolute;
                // background: red;
                border-radius: 4px;
                top: 2px;
                left: 3px;
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                opacity: 0;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
