.modalView {
  .backdropViewInformation {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 300%;
    height: 300%;
    background: rgba(#1a1a1a, 0.6);
    z-index: 99;
    display: none;
    &.active {
      display: block;
    }
  }
  .viewInformation {
    position: fixed;
    top: 10%;
    left: 20%;
    transform: translateX(-20%) translateY(-50%);
    background: white;
    width: 780px;
    // height: 700px;
    box-shadow: 4px 2px -5px 5px rgba($color: #1a1a1a, $alpha: 0.5);
    z-index: 999;
    border-radius: 4px;
    border: 1px solid rgba($color: gray, $alpha: 0.2);
    transform: scaleY(0) scaleX(0);
    transition: all 0.3s;
    @media (min-width: 576px) {
      left: 0;
    }
    @media (min-width: 768px) {
      left: 5%;
    }
    @media (min-width: 992px) {
      left: 16%;
    }
    @media (min-width: 1200px) {
      left: 32%;
    }

    &.active {
      transform-origin: center;
      transform: scaleY(1) scaleX(1) !important;
    }

    .header {
      height: 8%;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      border-bottom: 1px solid rgba($color: gray, $alpha: 0.1);
      p {
        font-size: 20px;
        font-weight: bold;
      }
      i {
        font-size: 25px;
        cursor: pointer;
      }
    }
    .formUpdateProduct {
      padding: 20px;
      .form0 {
        margin-bottom: 20px;
        .image {
          padding: 10px 20px;
          background: #fff;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          width: 45%;
          .image_product_group {
            margin-top: 20px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            .select {
              padding: 2px 5px;
              border-radius: 5px;
              display: inline-block;
              border: 1px solid #ba933e;
              border-radius: 5px;
              color: #ba933e;
              margin-right: 50px;
              cursor: pointer;
              position: relative;
              input[type="file"] {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                font-size: 1px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                cursor: inherit;
                display: block;
              }
            }
            .image_product {
              width: 100px;
              height: 100px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      .form1_form2 {
      }
      .form3 {
        .describe {
          padding: 10px 20px;
          background: #fff;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          textarea {
            padding-left: 10px;
            color: black;
            border: 1px solid black;
            width: 100%;
            margin-top: 15px;
          }
          .area::placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.005em;
            text-align: left;
            color: #a3a3a3;
          }
        }
        .typeproduct {
          margin-left: 25px;
          .radiobutton {
            // width: 120px;
            input {
              // margin-right: 5px;
              display: none;
            }
            input:checked ~ label:after {
              opacity: 1;
            }
            input:checked ~ label:before {
              background: #ba933e;
            }
            label {
              position: relative;
              padding-left: 30px;
              display: flex;
              align-items: center;
              cursor: pointer;
              font-size: 15px;
              margin-top: 5px;
              @media (max-width: 1436px) {
                // paddi  ng-left: 10px;
              }
              &::before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                border: 1.6px solid rgb(109, 109, 109);
                border-radius: 50%;
                left: 0;
                // margin-top: 10px;
              }
              &::after {
                content: "\f00c";
                width: 20px;
                height: 20px;
                position: absolute;
                // background: red;
                border-radius: 4px;
                top: 2px;
                left: 3px;
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                opacity: 0;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
