.listorder_admin {
  width: 82%;
  background: #f7fafc;
  height: 100vh;

  .listorder_admin_frame {
    width: 98%;

    .title_add_listorder {
      display: flex;
      justify-content: space-between;
      padding: 14px 20px;
      .title_listorder {
        font-size: 22px;
        font-weight: 700;
      }
      .add_order {
        display: inline-block;
        padding: 10px;
        background: black;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        font-family: "Red Hat Display", sans-serif;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: #ba933e;
        }
      }
    }
    .searchListorder {
      padding: 10px 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-bottom: 20px;
      .searchPhoneorder {
        margin-right: 30px;
        .phoneorder {
          border: 1px solid rgb(167, 167, 167);
          width: 100%;
          border-radius: 4px;
          padding: 10px;
        }
      }
      .searchIdOrder {
        margin-right: 30px;
        .idOrder {
          border: 1px solid rgb(167, 167, 167);
          width: 100%;
          border-radius: 4px;
          padding: 10px;
        }
      }
      .filterOrder {
        margin-right: 30px;
      }
    }
    .listorder {
      padding: 10px 20px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 10px;
      .title_item_order {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        background: #fff;
        font-weight: 500;
        font-size: 17px;
        .title_id {
          width: 20%;
        }
        .title_nameuser {
          width: 20%;
        }

        .title_total_money {
          width: 25%;
        }
        .title_create_date {
          width: 20%;
        }
        .title_stateorder {
          width: 20%;
        }
        .title_close {
          width: 10%;
        }
      }
      .list_item_order {
        padding: 0rem 1rem;
        background: #fff;
        width: 100%;
        overflow-y: auto;
        height: 400px;
        .item_order {
          padding: 10px 0;
          border-bottom: 1px solid rgb(212, 212, 212);
          display: flex;
          align-items: center;
          position: relative;
          &.zebra {
            background: #f8f8f8;
          }
          p {
            margin-bottom: 0px;
          }
          .id {
            width: 20%;
          }
          .nameuser {
            width: 20%;
          }

          .total_money {
            width: 25%;
          }
          .create_date {
            width: 20%;
          }
          .state_order {
            width: 20%;
            font-weight: 500;
            margin-right: 20px;
            margin-left: 50px;
            &.activeShipping {
              width: 150px;
              padding: 2px 5px;
              display: inline-block;
              color: #fff;
              background: #ba933e;
              border-radius: 30px;
              font-size: 15px;
            }
            &.activeDelivered {
              width: 150px;
              display: inline-block;
              padding: 2px 5px;

              color: #fff;
              background: rgb(65, 155, 65);
              border-radius: 30px;
              font-size: 15px;
            }
            &.activeCancel {
              width: 150px;
              display: inline-block;
              padding: 2px 5px;

              color: #fff;
              background: rgb(247, 44, 57);
              border-radius: 30px;
              font-size: 15px;
            }
            &.activeWaitting {
              width: 150px;
              display: inline-block;
              padding: 2px 5px;
              color: #fff;
              background: rgb(11, 116, 229);
              border-radius: 30px;
              font-size: 15px;
            }
          }
          .close {
            cursor: pointer;
            width: 10%;
          }
        }
      }
    }
    .pagination {
      margin-bottom: 10px;
    }
  }
}
.delete {
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: auto 3px;
  p {
    color: gray;
  }
  nav {
    ul {
      .ItemDelete {
        // width: 50%;
        // height: 100%;
        position: relative;
        &.active {
          .dropdown {
            visibility: visible;
          }
        }
        i {
          font-size: 16px;
          padding: 5px 8px;
          border-radius: 4px;
          opacity: 1;
          &:hover {
            background: rgba(gray, 0.2);
          }
        }
        .dropdown {
          position: absolute;
          bottom: 0%;
          left: 40%;
          width: 170px;
          height: 90px;
          box-shadow: rgba(17, 17, 26, 0.2) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: white;
          transform: translateX(-100%) translateY(100%);
          z-index: 9999;
          visibility: hidden;
          border-radius: 5px;
          padding: 5px 10px;
          li {
            font-size: 14px;
            padding: 10px 5px;
            &:hover {
              background: rgba(gray, 0.1);
            }
          }
        }
      }
    }
  }
}
